.memberInfoTable{
	
	border-radius:5px;
	border: 1px solid #3b99fc;
	text-align:center;
	margin-top:10px;
    width:100%;
}
.commit {
	position: absolute;
	left: 25%;
	width: auto;
	right: 25%;
	height: 40px;
	background: red;
	border-radius: 5px;
}